<app-menu></app-menu>
<div class="container">
  <br>
  <br>
  <br>
  <button class="btn btn-primary" data-toggle="modal" data-target="#registrarVehiculo">Registrar</button>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Num</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Placa</th>
        <th scope="col">Cilindraje</th>
        <th scope="col">Color</th>
        <th scope="col">Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of vehiculos">
        <td>{{car.id}}</td>
        <td>{{car.descripcion}}</td>
        <td>{{car.placa}}</td>
        <td>{{car.cilindraje}}</td>
        <td>{{car.color}}</td>
        <td>{{car.modelo}}</td>
      </tr>
    </tbody>
  </table>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="registrarVehiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label >descripcion</label>
              <input #descripcion  type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >placa</label>
              <input #placa type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >cilindraje <address></address> </label>
              <input #cilindraje type="int" class="form-control" />
            </div>
            <div class="form-group">
              <label >color</label>
              <input #color type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >modelo</label>
              <input #modelo type="text" class="form-control" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="crearVehiculo(
            descripcion.value,
            placa.value,
            cilindraje.value,
            color.value,
            modelo.value
          )">Guardar</button>
        </div>
      </div>
    </div>
  </div>