.container {
    background-image: url('src/assets/camiones fondo.jpg');
    background-size: cover;
    background-color:rgb(243, 243, 243) ;
    position: fixed;
    top: 1%;
    left: 1%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
   /* -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/

}