<app-menu></app-menu>
<div class="container">
  <br>
  <br>
  <br>
  <button class="btn btn-primary" data-toggle="modal" data-target="#registrarUsuario">Registrar</button>
  <br>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Num</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Tipo de Documento</th>
        <th scope="col">Numero de Documento</th>
        <th scope="col">Correo</th>
        <th scope="col">Direccion</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Usuario</th>
        <th scope="col">Clave</th>
        <th scope="col">Tipo</th>
        <th scope="col">Estado</th>
        <th scope="col">Numero ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <td>{{user.id}}</td>
        <td>{{user.nombres}}</td>
        <td>{{user.apellidos}}</td>
        <td>{{user.tipo_documento}}</td>
        <td>{{user.documento}}</td>
        <td>{{user.correo}}</td>
        <td>{{user.direccion}}</td>
        <td>{{user.ciudad}}</td>
        <td>{{user.usuario}}</td>
        <td>****</td>
        <td>{{user.tipo}}</td>
        <td>{{user.estado}}</td>
        <td>{{user.numero_id}}</td>
      </tr>
    </tbody>
  </table>
</div>
  <!-- Modal -->
  <div class="modal fade" id="registrarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label >Nombres</label>
              <input #nombres type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Apellidos</label>
              <input #apellidos  type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Tipo de Documento</label>
              <select #tipo_documento>
                <option value="CC">Cedula Ciudadania</option>
                <option value="CE">Cedula Extranjeria</option>
                <option value="TI">Tarjeta de Identidad</option>
              </select>
            </div>
            <div class="form-group">
              <label >Numero de Documento</label>
              <input #documento type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Correo <address></address> </label>
              <input #correo type="email" class="form-control" />
            </div>
            <div class="form-group">
              <label >Direccion</label>
              <input #direccion type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Ciudad</label>
              <input #ciudad type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Usuario</label>
              <input #usuario type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Clave</label>
              <input #clave type="password" class="form-control" />
            </div>
            <div class="form-group">
              <label >Tipo de Usuario</label>
              <select #tipo >
                <option value="ADM">Administrador</option>
                <option value="CON">Conductor</option>
                <option value="AUX">Auxiliar</option>
              </select>
              </div>
              <div class="form-group">
                <label >Estado</label>
                <select #estado >
                  <option value="ACTIVO">Activo</option>
                  <option value="INACTIVO">Inactivo</option>
                </select>
                </div>
              <div class="form-group">
                <label >Numero ID</label>
                <input #numero_id type="text" class="form-control" />
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="crearUsuario(
            nombres.value,
            apellidos.value,
            tipo_documento.value,
            documento.value,
            correo.value,
            direccion.value,
            ciudad.value,
            usuario.value,
            clave.value,
            tipo.value,
            estado.value,
            numero_id.value
          )">Guardar</button>
          </div>
      </div>
    </div>
  </div>