<div class="container" id="background">
    <div class="card" style="width: 18rem; margin: 15% auto;">
        <div class="card-body">
            <img src="assets/logo.jpg" class="card-img-top" alt="...">
            <br>
            <br>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button class="btn btn-primary btn-block" [routerLink]="[ '/blackboard' ]">Ingresar</button>
            </form>
        </div>
    </div>
</div>