<app-menu></app-menu>
<br>
<div class="container">
    <button class="btn btn-primary" data-toggle="modal" data-target="#registrarUsuario">Registrar</button>
    <br>
    <br>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">nombres</th>
            <th scope="col">apellidos</th>
            <th scope="col">tipoDeDocumento</th>
            <th scope="col">documento</th>
            <th scope="col">correo</th>
            <th scope="col">direccion</th>
            <th scope="col">contrasena</th>
            <th scope="col">ciudad</th>
            <th scope="col">tipoDeUsaurio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of usuarios">
            <td>{{users.nombres}}</td>
            <td>{{users.apellidos}}</td>
            <td>{{users.tipoDeDocumento}}</td>
            <td>{{users.documento}}</td>
            <td>{{users.correo}}</td>
            <td>{{users.direccion}}</td>
            <td>{{users.contrasena}}</td>
            <td>{{users.ciudad}}</td>
            
          </tr>
        </tbody>
      </table>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="registrarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label >Nombres</label>
              <input #nombres type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Apellido</label>
              <input #apellidos  type="text" class="form-control" />
            </div>

            <div class="form-group">
            <select #tipoDeDocumento>
              <option value="">Tipo de documento</option>
              <option value="cc">cc</option>
              <option value="ci">ci</option>
              <option value="pep">pep</option>
            </select>
            </div>


            <div class="form-group">
              <label >N° Documento</label>
              <input #documento type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Correo <address></address> </label>
              <input #correo type="email" class="form-control" />
            </div>
            <div class="form-group">
              <label >Direccion</label>
              <input #direccion type="text" class="form-control" />
            </div>
            <div class="form-group">
              <label >Password</label>
              <input #contrasena type="password" class="form-control" />
            </div>
            <div class="form-group">
              <label >Ciudad</label>
              <input #ciudad type="text" class="form-control" />
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="crearUsuario(
            nombres.value,
            apellidos.value,
            tipoDeDocumento.value,
            documento.value,
            correo.value,
            direccion.value,
            contrasena.value,
            ciudad.value,
            tipoDeUsaurio.value
          )">Guardar</button>
        </div>
      </div>
    </div>
  </div>