<div class="container" id="background">
    <div class="card" style="width: 18rem; margin: 15% auto;" id="formBackground">
        <div class="card-body">
            <img src="assets/ico-camion.png" class="card-img-top" alt="...">
            <br>
            <br>
            <form>
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input #usuario type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="clave">Clave</label>
                    <input #clave type="password" class="form-control">
                </div>
                <button id="btnColor" type="button" class="btn btn-primary btn-block" (click)="login(
                    usuario.value,
                    clave.value
                  )">Ingresar</button>
            </form>
        </div>
    </div>
</div>